input {
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid #e1e1e1;
}

.form {
    display: flex;
    flex-direction: column;
}

input,
input:active,
input:focus {
    border: 2px solid #e1e1e1;
    padding: 10px 20px;
}